name: Build report
on:
  push:
    branches: [main]
    paths:
      - "report/**"
  pull_request:
    branches: [main]
    paths:
      - "report/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: "0"
          lfs: true

      - uses: ./.github/actions/report
        with:
          typst-version: ${{ vars.TYPST_VERSION }}
